h3,h4 {
  font-family: $primary-font;
  text-align: center;
  color: $primary-font-color;
  font-family: $primary-font;
}
.container-botones-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton-confirmar-principal {
  margin: 10px;
  width: 90%;
  padding: 5px 5px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: $font-color-button;
  background-color: $color-secondary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
  height: 10vh;
}
.info-container-principal {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background-color: $primary;
    border: 1px solid $border-div-ligth;
    padding: 2rem;
    margin: 1rem;
    border-radius: 12px;
    height: 50%;
    align-items: center;
  }

