.container-transferencias {
  display: flex;
  font-family: $primary-font;
  background-color: $primary;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 106vh;
  flex-direction: column;
  align-items: center;
}

body.dark .container-transferencias{
  background-color: $background-dark-mode;
}

body.grey .container-transferencias{
  background-color: $background-grey-mode;
  font-family: $text-on-secondary;
}

h2 {
  padding: 0.5rem 0 0.5rem 0;
  color:  $primary-font-color;
  text-align: center;
  letter-spacing: 0.05em;
}
body.grey h2 {
  color: $text-grey-mode;
}
.info-container-transferencia {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: $primary;
  border: 1px solid $border-div-ligth;
  width: 90%;
  padding: 1rem 3rem 1rem 3rem;
  margin: 0px;
  width: 70%;
  border-radius: 12px;
  height: 45%;
 
  
}
body.grey .info-container-transferencia{
  border: 2px solid $text-grey-mode;
  background-color: $background-grey-mode;
}
body.dark .info-container-transferencia{
  background-color: #343333;
}
.info-cuenta-origen {
  display: flex;
  flex-direction: column;
}
p {
  color: $secondary-font-color;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  text-align: start;
}
body.grey p {
  color: $text-grey-mode;
}

input {
  display: flex;
  margin: 15px;
  width: 85%;
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  text-indent: 14px;
  border-radius: 5px;
}
.botones {
  display: flex;
  padding: 15px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.boton-confirmar {
  margin: 10px;
  width: fit-content;
  padding: 5px 5px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: $font-color-button;
  background-color: $color-primary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
}

body.dark .boton-confirmar {
  background-color: $modo-oscuro-backgound;
}
body.grey .boton-confirmar {
  background-color: #828282d5;
  color: $text-grey-mode;
  border-color: $text-grey-mode;
}

.boton-regresar {
  margin: 10px;
  width: fit-content;
  padding: 5px 5px;
  height: 57px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color:  $font-color-button;
  background-color: $color-secondary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
}
body.dark .boton-regresar {
  background-color: $escala-grises-border;
}
body.grey .boton-regresar {
  background-color: $background-grey-mode;
  color: $text-grey-mode;
  border-color: $text-grey-mode;
}
.voice{
  display: flex;
}
