.container-transferencias {
  display: flex;
  font-family: $primary-font;
  min-height: 81vh;
  background-color: $primary;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
}
h2 {
  color:  $primary-font-color;
  text-align: center;
  letter-spacing: 0.05em;
}
h3 {
    color: white;
    text-align:start;
    letter-spacing: 0.05em;
    font-size: 1.6rem;
}
.info-container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: $primary;
  border: 1px solid $border-div-ligth;
  padding: 2rem;
  margin: 1rem;
  width: 70%;
  border-radius: 12px;
  height: 50%;
  align-items: center;
}
.info-cuenta-origen {
  display: flex;
  flex-direction: column;
}
p {
  color: $secondary-font-color;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  text-align: start;
}
input {
  display: flex;
  margin: 15px;
  width: 85%;
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  text-indent: 14px;
  border-radius: 5px;
}
.botones {
  display: flex;
  padding: 15px;
  justify-content: space-evenly;
}
.boton-confirmar {
  margin: 10px;
  width: fit-content;
  padding: 5px 5px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: $font-color-button;
  background-color: $color-primary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
}
.boton-regresar {
  margin: 10px;
  width: fit-content;
  padding: 5px 5px;

  height: 57px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color:  $font-color-button;
  background-color: $color-secondary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
}
