$primary: #056CAE;
$primary-light: rgba(196, 196, 196,0.1);                ;
$secondary:#ffffff;
$secondary-light: #ffffff;
$secondary-dark:#343333;
$text-on-primary: #ffffff;
$text-on-secondary: #000000;


