@import "../components/Header/Header.scss";
@import "../components/Footer/Footer.scss";
@import "../components/Home/Home.scss";
@import "../components/Footer/Sidebar.scss";
@import "../Styles/App.scss";
@import "../components/PrincipalVista/PrincipalVista.scss";
@import "../components/AltaBeneficiario/AltaBeneficiario.scss";
@import "../components/Transferencias/Transferencias.scss";
