@import "../../Styles/variables";
.render{

    // background-color: $primary;
    padding-top: 1.5vh;
    // margin-top: 1.5vh;
    min-height: 100vh;
}
// body.dark .render{
//     background-color: $background-dark-mode;
//   }
  body.grey .render{
    background-color: $background-grey-mode;
  }