@import "../../Styles/variables";
footer{
    display: flex;
    background-color: $primary-dark;
    justify-content: space-around;
    height: 4rem;
    border-top: 1px solid #FFFFFF;
    padding: 2px;
}
.icon-footer{
    margin: 5px;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: space-evenly;
}