* {
  margin: 0px;
  padding: 0px;
}

#sidebar {
  // position: fixed;
  border: 2px solid red;
  width: 280px;
  height: 100vh;
  background: #ffffff;
  right: -200px;
  transition: all 500ms linear;
  position: relative;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  list-style: none;
  padding: 15px 10px;
  text-align: center;
}

.logo {
  display: flex;
  width: 13rem;
  height: auto;
  justify-content: center;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid red;
}
.btn-oscuro {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  width: 230px;
  height: 20px;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #121212de;
  border-radius: 10px;
  box-shadow: 6px 4px 4px rgba(255, 255, 255, 0.25);
  cursor:pointer;
}
.btn-grises {
  font-weight: 600;
  margin: 15px;
  width: 230px;
  height: 20px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: #505050;
  background-color: #BABABA;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 6px 4px 4px rgba(255, 255, 255, 0.25);
  cursor:pointer;
}
.btn-title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.btn-predefinida {
  font-weight: 600;
  margin: 15px;
  width: 230px;
  height: 20px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #056CAE;
  border-radius: 10px;
  box-shadow: 6px 4px 4px rgba(255, 255, 255, 0.25);
  cursor:pointer;
}
.center-item {
 display:flex;
 justify-content: center;
 align-items: center;
}
.alinear-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-pequeño{
  margin: 5px;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: space-evenly;
}
.icon-mediano{
  margin: 5px;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.icon-grande{
  margin: 5px;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: space-evenly;
}