@import "../../Styles/variables";

.AltaBeneficiario-label {
  color: $secondary;
  letter-spacing: 0.05em;
  margin-left: 1rem;
  transition: 0.5s;
}

.AltaBeneficiario-legend {
  color: $secondary;
  letter-spacing: 0.05em;
  margin-left: 1rem;
  transition: 0.5s;
}

.boton-guardar {

  height: 57px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: $font-color-button;
  background-color: $color-primary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
  transition: 0.5s;
}
