@import "../../Styles/variables";

.AltaBeneficiario-label {
  color: $secondary;
  letter-spacing: 0.05em;
  transition: 0.5s;
  font-weight: bold;
  font-size: 1.1rem;
  align-self: flex-start;
}
body.small-mode  .AltaBeneficiario-label{
  font-size: 1.7rem; 
}

body.medium-mode  .AltaBeneficiario-label{
  font-size: 2rem; 
}

body.big-mode  .AltaBeneficiario-label{
  font-size: 2.3rem; 
}

.AltaBeneficiario-legend {
  color: $secondary;
  letter-spacing: 0.05em;
  transition: 0.5s;
  font-weight: bold;
  font-size: 1.1rem;
  align-self: flex-start;
}

body.small-mode  .AltaBeneficiario-legend{
  font-size: 1.7rem; 
}

body.medium-mode  .AltaBeneficiario-legend{
  font-size: 2rem; 

}

body.big-mode  .AltaBeneficiario-legend{
  font-size: 2.3rem; 
}

.boton-guardar {
  height: 57px;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: $font-color-button;
  background-color: $color-primary-button;
  border-radius: 10px;
  border-color: $border-color-primary;
  box-shadow: 6px 4px 4px $shadow-button;
  cursor: pointer;
  transition: 0.5s; 
  text-align: center;
  margin-bottom: 2rem;
}

body.dark .boton-guardar{
  background-color: $background-dark-mode;
  box-shadow: 2px 2px 2px $shadow-button-dark;
}

body.grey .boton-guardar{
  background-color: $background-grey-mode;
  box-shadow: none;
}
.align-left {
  display: flex;
  justify-content: center;
}