@import "../../Styles/variables";

header{
    background-color: $primary;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.img-logo{
    height: 4em;
    width: 22em;
    display: flex;
  
}